@import "../../../theme.css";

.comment-container {
  width: 80vw;
  margin: 0 auto;
  font-size: 1.4rem;
}

.name {
  color: var(--text-main);
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0;
}

.email {
  color: var(--text-main-shade-one);
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.comments {
  border-bottom: 1px solid var(--secondary-font-shade-one);
  padding: 1.2rem 0;
}
