@import "../../../theme.css";

tr:nth-child(even) {
  background-color: var(--primary-bg-shade-two);
}

tr:hover {
  background-color: var(--secondry-bg);
}

td > a {
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  background-color: var(--text-main);
  color: var(--primary-bg);
}
