@import "../../../theme.css";

.post-container {
  width: 90vw;
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-wrapper {
  /* box-shadow: 0 0 10px var(--primary-bg-shade-three);
  border-radius: 2rem; */
  border-bottom: 1px solid var(--secondary-font);
  display: block;
  padding: 2.5rem;
  width: 70vw;
  margin: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto 1.5rem;
  color: var(--primary-font);
}

.post-wrapper > a {
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--text-main);
  color: var(--primary-bg);
  border: 1px solid var(--text-main);
  transform: color 0.8s ease-in;
}

.post-wrapper > a:hover {
  color: var(--primary-bg-shade-two);
}

@media (max-width: 767px) {
  .post-wrapper {
    width: 90vw;
    padding: 0 0 2rem;
  }
}

/* tabs */
@media (min-width: 768px) and (max-width: 991px) {
  .post-wrapper {
    width: 90vw;
    padding: 0 0 2rem;
  }
}
