@import "../../../theme.css";

.details-wrapper {
  width: 80vw;
  margin: 0 auto;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

.details-wrapper h3 {
  font-size: 3.2rem;
  color: var(--text-main);
}

.title-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-body {
  width: 80vw;
  color: var(--secondary-font);
}

.details-wrapper button {
  border: none;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  border-radius: 2rem;
}

.delete {
  background-color: red;
  color: var(--primary-bg);
}

.comment {
  background-color: var(--text-third);
  color: var(--primary-bg);
}

button:focus {
  outline: none;
}

/* -------- Media Queries -------- */
/* mobile */
@media (max-width: 767px) {
  .details-wrapper,
  .post-body {
    width: 90vw;
  }
}

/* tabs */
@media (min-width: 768px) and (max-width: 991px) {
  .details-wrapper,
  .post-body {
    width: 90vw;
  }
}
