@import "./theme.css";

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--navbar-bg);
}

header a {
  text-decoration: none;
  color: var(--text-main);
}

header h1 {
  text-shadow: var(--header-text-shadow);
  font-size: 3.6rem;
  margin: 0;
  padding: 1rem;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.toggle {
  align-self: center;
}
